<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sam-visualanalytics.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sam-visualanalytics.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sam-visualanalytics</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sam-visualanalytics</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User ID=pribina@npy1546hda;Password=Barbar.91" Name="Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User Id=pribina@npy1546hda;Password=Barbar.91" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VisualAnalytics.Models.ApplicationDbContext, VisualAnalytics" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SAMcontext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User ID=pribina@npy1546hda;Password=Barbar.91" Name="Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User Id=pribina@npy1546hda;Password=Barbar.91" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VisualAnalytics.Models.SAMcontext, VisualAnalytics" MigrationConfiguration="VisualAnalytics.Migrations.Configuration, VisualAnalytics" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBModelContainer" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User ID=pribina@npy1546hda;Password=Barbar.91" Name="Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User Id=pribina@npy1546hda;Password=Barbar.91" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=SAM;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBModelContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model.DBModel.csdl|res://*/Models.Model.DBModel.ssdl|res://*/Models.Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.DBModel.csdl|res://*/Models.Model.DBModel.ssdl|res://*/Models.Model.DBModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:npy1546hda.database.windows.net,1433;initial catalog=sqlEnteprise;user id=pribina@npy1546hda;password=Barbar.91;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User Id=pribina@npy1546hda;Password=Barbar.91</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SAMcontext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:npy1546hda.database.windows.net,1433;Initial Catalog=sqlEnteprise;User Id=pribina@npy1546hda;Password=Barbar.91</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>