@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Diploma thesis</p>
<p>Author: Andrej Stajer</p>
<p>Supervisor: Associate prof. Viera Rozinajova</p>
<div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
</script>