@{
    ViewBag.Title = "Home Page";
}

@*<div id="lineGraph" style="width: 1000px"></div>*@
<input id="forecastButton" type="button" value="forecast" onclick="drawChart()" />
Weather dependency: 
<input id="TemperatureCheck" type="checkbox" onclick="tempClick(this,2)" value="false" />Temperature
<input id="RainCheck" type="checkbox" onclick="tempClick(this,0)" value="False" />Rain
<input id="WindSpeedCheck" type="checkbox" onclick="tempClick(this,1)"  value="False" />WindSpeed
<input id="HumidityCheck" type="checkbox" onclick="tempClick(this,4)" value="False" />Humidity
<input id="SolarCheck" type="checkbox" onclick="tempClick(this,3)"  value="False" />Solar
<input id="PressureCheck" type="checkbox" onclick="tempClick(this,5)" value="False" />Pressure

<hr>
<input type="button" value="REFRESH" onclick="location.reload()">
<select id="districtNamesList">Trebišov</select>
<select id="consumptionPlacesNamesList">1622</select>
<input type="button" value="zoom" onclick="zoom()">
<hr />
<div style="display: inline-block;">
    @*<div id="radioButtons" style="display: block">
            <input id="Radio1" type="radio" title="SUM" value="SUM" />
            <input id="Radio2" type="radio" title="AVERAGE" value="AVERAGE" />
        </div>*@
    <div id="comboGraphHourly" style="width: 800px; height: 600px; display: none"></div>
    <div id="comboGraph" style="width: 800px; height: 600px; display: block"></div>

    <div id="WeatherLineGraph" style="width: 800px; height: 400px; display: block"></div>
</div>

<table id="spiralGraphTable" style="display: inline-block">
    <tr>
        <td>
            <canvas id="spiralGraph" width="500" height="500"></canvas>
        </td>
    <tr>
        <td>
            Begin offset:<input id="a" type="text" value='5' />
        </td>
    </tr>
    <tr>
        <td>
            Space: <input id="b" type="text" value='0.8' />
        </td>
    </tr>
    <tr>
        <td>
            Angle: <input id="angle" type="text" value='0.8975' />
        </td>
    </tr>
    <tr>
        <td>
            LineWidth: <input id="lineWidth" type="text" value='3' />
        </td>
    </tr>
    <tr>
        <td>
            <button id="draw">Draw</button>
            <button id="selectBtn" onclick=" selectHighlight() ">select</button>
        </td>
    </tr>
    </tr>
</table>
<p>Property explaination</p>
<div id="pieChart2" style="display: inline-block"></div>
<div id="pieChart" style="display: inline-block"></div>
<div id="calendar_basic" style="width: 1300px; height: 150px; display: block;"></div>
<hr>
<p>Weekday analysis</p>

<div id="chartMotion" style="display: block"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    var weatherDependency = "000000";

    function tempClick(cb,index) {
        if (cb.checked) {
            weatherDependency = weatherDependency.substr(0, index) + "1" + weatherDependency.substr(index + 1);
        } else {
            weatherDependency = weatherDependency.substr(0, index) + "0" + weatherDependency.substr(index + 1);
        }
    }



    var zoomable = false;
    function zoom() {
        if (zoomable) {
            var jsonConsuptionHourly = $.ajax({
                url: "Home/getHourlyPlaceTable?startIDDate=" + selectedDate + "&endIDDate=" + selectedDate,
                dataType: "json",
                async: false
            }).responseJSON;
            var jsonConsuptionModelHourly = $.ajax({
                url: "Home/getFittedModelHourlyTable?Type=SUM&idDistrict=62&startIDDate=" + selectedDate + "&endIDDate=" + selectedDate+"&weatherDependency="+weatherDependency,
                dataType: "json",
                async: false
            }).responseJSON;
            document.getElementById("comboGraphHourly").style.display = "block";

            function drawHourly(jsonConsuptionModelAverage, jsonConsuption) {
                // Some raw data (not necessarily accurate)
                var dataTableCombo = new google.visualization.DataTable();

                dataTableCombo.addColumn({ type: 'datetime', id: 'Date' });
                dataTableCombo.addColumn({ type: 'number', id: 'AvgAmount', label: 'District Model' });
                //dataTableCombo.addColumn({ type: 'number', id: 'SumAmount', label: 'Sum Model' });
                dataTableCombo.addColumn({ type: 'number', id: 'placeAmount', label: 'Place Consumtion' });
                //TODO add outlier column

                createConsumptionDataTable(jsonConsuption, dataTableCombo, 3);
                addColumnData(jsonConsuptionModelAverage, dataTableCombo, "Amount", 1);
                // addColumnData(jsonConsuptionModelSum, dataTableCombo, "Amount", 2);
                addColumnData(jsonConsuption, dataTableCombo, "Amount", 2);

                var options = {
                    title: 'Consumtion compared to district models in hours',
                    vAxis: { title: "Amount" },
                    hAxis: { title: "Date" },
                    seriesType: "line",
                    //series: { 5: { type: "line" } }
                };

                var chart = new google.visualization.ComboChart(document.getElementById('comboGraphHourly'));
                chart.draw(dataTableCombo, options);
            }

            drawHourly(jsonConsuptionModelHourly, jsonConsuptionHourly);

        }
    }

    function selectHighlight(chart00) {
        var x = chart00.getSelection();
        chart00.setSelection([{ 'row': 0, 'column': null }]);
        x = chart00.getSelection();
        chart00.setSelection([{ 'row': null, 'column': 0 }]);
        x = chart00.getSelection();
    }

    google.load("visualization", "1", { packages: ["calendar", "corechart", "treemap", 'motionchart'] });
    //google.setOnLoadCallback(drawAll);
    google.setOnLoadCallback(drawChart);

    var selectedData;
    var chartParameter;
    var dataTableParameter;
    var selectedDate;

    function getDateFromString(stringDate) {
        if (stringDate) {
            stringDate = stringDate.toString();
            var year = stringDate.substring(0, 4);
            var month = stringDate.substring(4, 6);
            var day = stringDate.substring(6, 8);

            if (stringDate.length == 8) {
                return new Date(year, month - 1, day);
            } else {
                var hour = stringDate.substring(8, 10);
                return new Date(year, month - 1, day, hour, 0, 0, 0);
            }

        }
        return null;

    }
    function createConsumptionDataTable(consData, dataTable, columnCount) {
        for (var i = 0; i < consData.length; i++) {
            var obj = consData[i];
            var time = obj["MeasurementTime"].toString();
            var dtString = obj["IDDate"];
            var dtt;
            //if (time == 0) {
            //    dtt = getDateFromString(dtString);
            //} else
            {
                if (time < 10) {
                    dtt = getDateFromString(dtString + "0" + time);
                } else {
                    dtt = getDateFromString(dtString + time);
                }
            }
            if (columnCount == 2) {
                dataTable.addRow([dtt, 0]);
            }
            else if (columnCount == 3) {
                dataTable.addRow([dtt, null, null]);
            }
            else if (columnCount == 4) {
                dataTable.addRow([dtt, null, null, null]);
            }
            else if (columnCount == 5) {
                dataTable.addRow([dtt, null, null, null, null]);
            }
            else if (columnCount == 6) {//motion
                dataTable.addRow([dtt, null, null, null, null, null]);
            }

        }

    }
    function addColumnData(consData, dataTable, jsonAttributeName, columnNumber) {
        for (var i = 0; i < consData.length; i++) {
            var obj = consData[i];
            var amt = obj[jsonAttributeName];
            dataTable.setCell(i, columnNumber, amt);
        }

    }

    var forecasting = false;
    function makeForecast() {
        forecasting = true;
        drawChart();
        //drawComboVisualization();
        spiralGraphDraw();
    }
    //function drawAll() {
    //    drawComboVisualization();
    //    drawWeatherLineChart(jsonConsuption);
    //    drawCalendarChart();
    //    drawPieChart();
    //    drawMotionGraph();
    //}

    function drawChart() {

        //CONSUPTION line chart
        var jsonConsuption = $.ajax({
            url: "Home/getDailyPlaceTable?Type=SUM",
            dataType: "json",
            async: false
        }).responseJSON;

        //var jsonConsuptionModelSum = $.ajax({
        //    url: "Home/getDailyModelTable?Type=SUM&idDistrict=62",
        //    dataType: "json",
        //    async: false
        //}).responseJSON;

        var jsonConsuptionModelAverage = $.ajax({
            url: "Home/getFittedModelTable?Type=SUM&idDistrict=62" + "&weatherDependency=" + weatherDependency,
            dataType: "json",
            async: false
        }).responseJSON;

        var jsonOutliers = $.ajax({
            url: "Home/getBiggestOutliers?Type=SUM&weatherDependency=" + weatherDependency + "&IDConsuptionPlace=1622",
            dataType: "json",
            async: false
        }).responseJSON;

        var getforecastJson = $.ajax({
            url: "Home/getForecast?Type=SUM&idDistrict=62&weatherDependency=" + weatherDependency,
            dataType: "json",
            async: false
        }).responseJSON;

        function drawComboVisualization() {
            // Some raw data (not necessarily accurate)
            var dataTableCombo = new google.visualization.DataTable();

            dataTableCombo.addColumn({ type: 'datetime', id: 'Date' });
            dataTableCombo.addColumn({ type: 'number', id: 'AvgAmount', label: 'District Model' });
            //dataTableCombo.addColumn({ type: 'number', id: 'SumAmount', label: 'Sum Model' });
            dataTableCombo.addColumn({ type: 'number', id: 'placeAmount', label: 'Place Consumtion' });
            dataTableCombo.addColumn({ type: 'number', id: 'forecast', label: 'Forecast' });
            //TODO add outlier column

            createConsumptionDataTable(jsonConsuptionModelAverage, dataTableCombo, 4);
            addColumnData(jsonConsuptionModelAverage, dataTableCombo, "Amount", 1);
            // addColumnData(jsonConsuptionModelSum, dataTableCombo, "Amount", 2);
            addColumnData(jsonConsuption, dataTableCombo, "Amount", 2);

            // if (forecasting)
            {
                //addColumnData(getforecastJson, dataTableCombo, "Amount", 3);
                for (var i = 0; i < getforecastJson.length; i++) {
                    var obj = getforecastJson[i];
                    //var amt = obj[jsonAttributeName];
                    dataTableCombo.setCell(jsonConsuptionModelAverage.length - getforecastJson.length - 1 + i, 3, obj);
                }

            }

            function addOutlier(JsonData, outlierLimit) {
                for (var i = 0; i < outlierLimit; i++) {

                }
            }

            addOutlier(jsonOutliers, 5);

            var options = {
                title: 'Consumtion compared to district models',
                vAxis: { title: "Amount" },
                hAxis: { title: "Date" },
                seriesType: "line",
                //series: { 5: { type: "line" } }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('comboGraph'));
            chart.draw(dataTableCombo, options);

            var chartParameter = chart;

            function selectHandler() {
                var selection = chartParameter.getSelection();
                // .setSelection(table.getSelection());
                var selectedRow = selection[0]["row"];
                var selectedColumn = selection[0]["column"];
                selectedData = selectedRow; // dataTableParameter.getValue(selectedRow, selectedColumn);
                selectedDate = jsonConsuption[selectedRow]["IDDate"];
                spiralGraphDraw();
                zoomable = true;
                //drawWeatherLineChart(jsonConsuption);
                drawPieChart(selectedDate);
                function AddToCart(selectedDate) {
                    $.ajax({
                            url: 'Home/markPoint?IDDate=' + selectedDate,
                            dataType: "json",
                            async: true
                        }
                    );
                }

                AddToCart(selectedDate);
                //drawCalendarChart();
            }

            google.visualization.events.addListener(chart, 'select', selectHandler);
        }

        drawComboVisualization();

        //jsonConsuption
        var dataConsMatrix = [];
        function drawWeatherLineChart(jsonConsuption) {
            var dataTableConsuption = new google.visualization.DataTable();
            dataTableConsuption.addColumn({ type: 'datetime', id: 'Date' });
            dataTableConsuption.addColumn({ type: 'number', id: 'Weather', label: 'Weather' });

            createConsumptionDataTable(jsonConsuption, dataTableConsuption, 2);
            addColumnData(jsonConsuption, dataTableConsuption, "Temperature", 1);
            /*
            Temperature = w.surfaceTemperature,
                    Rain = w.rainfall,
                    WindSpeed = w.windSpeed,
                    Humidity = w.relativeHumidity,
                    Solar = w.solarShine,
                    Pressure = w.atmosphericPressure
            */
            //for (var i = 0; i < jsonConsuption.length; i++) {
            //    var obj = jsonConsuption[i];
            //    var dtt = getDateFromString(obj["IDDate"]);
            //    var amt = obj["Amount"];
            //    dataTableConsuption.addRow([dtt, amt]);
            //}

            var optionsConsuption = {
                title: 'Weather description',
                curveType: 'function'
            };

            var chartConsuption = new google.visualization.LineChart(document.getElementById('WeatherLineGraph'));

            chartConsuption.draw(dataTableConsuption, optionsConsuption);

            var chartParameter = chartConsuption;

            function selectHandler() {
                var selection = chartParameter.getSelection();
                // .setSelection(table.getSelection());
                var selectedRow = selection[0]["row"];
                var selectedColumn = selection[0]["column"];
                selectedData = selectedRow; // dataTableParameter.getValue(selectedRow, selectedColumn);
                selectedDate = jsonConsuption[selectedRow]["IDDate"];
                spiralGraphDraw();
                drawPieChart(selectedDate);
                zoomable = true;
                //drawCalendarChart();
            }

            google.visualization.events.addListener(chartConsuption, 'select', selectHandler);

        }

        drawWeatherLineChart(jsonConsuption);

        //SPIRAL

        var c = document.getElementById('spiralGraph');
        var context = c.getContext("2d");
        var centerx = context.canvas.width / 2;
        var centery = context.canvas.height / 2;

        var maxAmount = Math.max.apply(Math, jsonConsuption.map(function (o) { return o.Amount; }));
        var minAmount = Math.min.apply(Math, jsonConsuption.map(function (o) { return o.Amount; }));

        function spiralGraphDraw() {
            a = parseFloat($('#a').val());
            b = parseFloat($('#b').val());
            angl = parseFloat($('#angle').val());
            context.clearRect(0, 0, 300, 300);

            context.beginPath();
            context.rect(0, 0, context.canvas.width, context.canvas.width);
            context.fillStyle = 'black'
            context.fill();
            context.stroke();

            var lastX = centerx + (a + b * angl) * Math.cos(angl);
            var lastY = centery + (a + b * angl) * Math.sin(angl);

            for (i = 0; i < jsonConsuption.length; i++) {
                context.beginPath();
                context.moveTo(lastX, lastY);
                angle = angl * i;
                x = centerx + (a + b * angle) * Math.cos(angle);
                y = centery + (a + b * angle) * Math.sin(angle);
                var color = ((jsonConsuption[i]["Amount"] - minAmount) / (maxAmount - minAmount)) * 255;
                var day = jsonConsuption[i]["IDDate"] % 100;
                var clr = "";
                if (selectedDate && selectedDate == jsonConsuption[i]["IDDate"]) {
                    context.lineWidth = (parseFloat($('#lineWidth').val())) + 3;
                    context.strokeStyle = 'yellow';
                    context.lineTo(x, y);
                    context.lineCap = 'square';
                    context.stroke();
                }
                if (day == 1) {
                    clr = '#FF0000';

                } else {
                    var col = parseInt(color.toString()).toString(16);
                    if (col.length == 1) {
                        col = "0" + col;
                    }
                    if (col.length > 2) {
                        col = "00";
                    }
                    clr = "#00" + col + '00';
                }

                //  var clr = "#00" + parseInt(color.toString()).toString(16) + '00';
                context.lineWidth = parseFloat($('#lineWidth').val());
                context.strokeStyle = clr;
                context.lineTo(x, y);
                context.lineCap = 'butt';
                context.stroke();
                lastX = x;
                lastY = y;
            }

        }

        $('#draw').click(spiralGraphDraw());

        //g3 = new Dygraph(
        //    document.getElementById("lineGraph"),
        //    jsonConsuption,
        //    {
        //        rollPeriod: 7,
        //        showRoller: true
        //    }
        //    );

        //CALENDAR chart
        var jsonEvents = $.ajax({
            url: "home/getEvents",
            dataType: "json",
            async: false
        }).responseJSON;

        function drawCalendarChart() {
            var dataTableCalendar = new google.visualization.DataTable();
            dataTableCalendar.addColumn({ type: 'datetime', id: 'Date' });
            dataTableCalendar.addColumn({ type: 'number', id: 'importance' });

            var chart1 = new google.visualization.Calendar(document.getElementById('calendar_basic'));

            for (var i = 0; i < jsonEvents.length; i++) {
                var obj = jsonEvents[i];
                //for (var key in obj) {
                //var attrName = key;
                //var attrValue = obj[key];
                var dtt = getDateFromString(obj["IDDate"]);
                var imp = obj["importance"];
                dataTableCalendar.addRow([dtt, imp]);

                var testDate = getDateFromString(selectedDate);
                var a = +dtt;
                var b = getDateFromString(selectedDate);
                b = +b;
                if (selectedDate && a === b) {
                    //var temp = chart1.getSelection();
                    //chart1.setSelection([{ 'row': i, 'column': null }]);
                }

                //}
            }

            var options1 = {
                title: "Calendar",
                height: 150,
                colorAxis: { minValue: 0, colors: ['#000000', '#FF0000'] },
                calendar: {
                    cellColor: {
                        stroke: '#76a7fa',
                        strokeOpacity: 0.5,
                        strokeWidth: 1,
                    }
                }
            };

            chart1.draw(dataTableCalendar, options1);
            selectHighlight(chart1);
        }

        drawCalendarChart();

        ////PIECHART

        function drawPieChart(selDate) {
            var pieDataTable = new google.visualization.DataTable();
            pieDataTable.addColumn({ type: 'string', id: 'Feature' });
            pieDataTable.addColumn({ type: 'number', id: 'outlierness' });
            pieDataTable.addColumn({ type: 'string', role: 'style', id: 'color' });

            var colGrp = new Array(8);
            colGrp[0] = "silver";
            colGrp[1] = "green";
            colGrp[2] = "gold";
            colGrp[3] = "red";
            colGrp[4] = "blue";
            colGrp[5] = "yellow";
            colGrp[6] = "pink";
            colGrp[7] = "orange";

            var counter = 0;
            for (var i = 1; i < jsonOutliers.length; i++) {
                var obj = jsonOutliers[i];
                //for (var key in obj) {
                //var attrName = key;
                //var attrValue = obj[key];
                var order = obj["seriesNumber"];
                var IDDate = jsonConsuption[order]["IDDate"];
                if (IDDate == selDate) {

                    var outliernessList = obj["outlierness"];
                    for (var i = 0; i < outliernessList.length; i++) {
                        var str = "";
                        var t = obj["weatherDependency"][i]["temperature"];
                        if (t) { str += "Temperature "; }
                        var r = obj["weatherDependency"][i]["rain"];
                        if (r) { str += "Rain "; }
                        var ws = obj["weatherDependency"][i]["windSpeed"];
                        if (ws) { str += "WindSpeed "; }
                        var h = obj["weatherDependency"][i]["humidity"];
                        if (h) { str += "Humidity "; }
                        var s = obj["weatherDependency"][i]["solar"];
                        if (s) { str += "Solar "; }
                        var p = obj["weatherDependency"][i]["pressure"];
                        if (p) { str += "Pressure "; }

                        if (!(t || r || ws || h || s || p)) {
                            str = "None";
                        }

                        pieDataTable.addRow([str, Math.abs(outliernessList[i]), "color: " + colGrp[counter]]);
                        counter++;
                        if (counter > 7) { counter = 0; }
                    }
                    break;

                }

            }
            var pieChartOulier = new google.visualization.PieChart(document.getElementById('pieChart'));
            var options2 = {
                title: "Outlierness explanations",
                legend: { position: "none" },
                colors: colGrp
            };
            pieChartOulier.draw(pieDataTable, options2);

            var columnExplainChart = new google.visualization.ColumnChart(document.getElementById("pieChart2"));
            columnExplainChart.draw(pieDataTable, options2);
        }

        function drawMotionGraph() {
            var dataMotion = new google.visualization.DataTable();
            dataMotion.addColumn('string', 'WeekDay');
            dataMotion.addColumn('date', 'Date');
            dataMotion.addColumn('number', 'Amount');
            dataMotion.addColumn('number', 'Temperature');
            dataMotion.addColumn('number', 'Rainfall');
            dataMotion.addColumn('number', 'Solar Flux');

            //var jsonBigTable = $.ajax({
            //    url: "home/getBigTable",
            //    dataType: "json",
            //    async: false
            //}).responseJSON;

            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            ;

            for (var i = 0; i < jsonConsuption.length; i++) {
                var obj = jsonConsuption[i];
                var dtt = getDateFromString(obj["IDDate"]);
                dataMotion.addRow([weekday[dtt.getDay()], dtt, 0, 0, 0, 0]);
            }

            addColumnData(jsonConsuption, dataMotion, "Amount", 2);
            addColumnData(jsonConsuption, dataMotion, "Temperature", 3);
            addColumnData(jsonConsuption, dataMotion, "Rain", 4);
            addColumnData(jsonConsuption, dataMotion, "Solar", 5);

            var chartMotion = new google.visualization.MotionChart(document.getElementById('chartMotion'));

            chartMotion.draw(dataMotion, { width: 1000, height: 500 });
        }

        drawMotionGraph();

    }
</script>

<hr />