USE [master]
GO
/****** Object:  Database [SAM]    Script Date: 2014-11-23 23:58:06 ******/
CREATE DATABASE [SAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SAM.mdf' , SIZE = 7232KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SAM_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAM]
GO
/****** Object:  Table [dbo].[ConsuptionPlaces]    Script Date: 2014-11-23 23:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsuptionPlaces](
	[IdConsuptionPlace] [bigint] IDENTITY(1,1) NOT NULL,
	[ZipCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConsuptionPlaces] PRIMARY KEY CLUSTERED 
(
	[IdConsuptionPlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consuptions]    Script Date: 2014-11-23 23:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consuptions](
	[IdConsuption] [bigint] IDENTITY(1,1) NOT NULL,
	[Amount] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ConsuptionPlace_IdConsuptionPlace] [bigint] NOT NULL,
	[DatesEvent_IdDatesEvents] [int] NOT NULL,
 CONSTRAINT [PK_Consuptions] PRIMARY KEY CLUSTERED 
(
	[IdConsuption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DatesEvents]    Script Date: 2014-11-23 23:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatesEvents](
	[IdDatesEvents] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DatesEvents] PRIMARY KEY CLUSTERED 
(
	[IdDatesEvents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ConsuptionPlaces] ON 

INSERT [dbo].[ConsuptionPlaces] ([IdConsuptionPlace], [ZipCode]) VALUES (8051499, N'83101')
INSERT [dbo].[ConsuptionPlaces] ([IdConsuptionPlace], [ZipCode]) VALUES (8051500, N'83152')
INSERT [dbo].[ConsuptionPlaces] ([IdConsuptionPlace], [ZipCode]) VALUES (8051501, N'83101')
GO
SET IDENTITY_INSERT [dbo].[ConsuptionPlaces] OFF
/****** Object:  Index [IX_FK_ConsuptionPlaceConsuption]    Script Date: 2014-11-23 23:58:07 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ConsuptionPlaceConsuption] ON [dbo].[Consuptions]
(
	[ConsuptionPlace_IdConsuptionPlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_DatesEventsConsuption]    Script Date: 2014-11-23 23:58:07 ******/
CREATE NONCLUSTERED INDEX [IX_FK_DatesEventsConsuption] ON [dbo].[Consuptions]
(
	[DatesEvent_IdDatesEvents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consuptions]  WITH CHECK ADD  CONSTRAINT [FK_ConsuptionPlaceConsuption] FOREIGN KEY([ConsuptionPlace_IdConsuptionPlace])
REFERENCES [dbo].[ConsuptionPlaces] ([IdConsuptionPlace])
GO
ALTER TABLE [dbo].[Consuptions] CHECK CONSTRAINT [FK_ConsuptionPlaceConsuption]
GO
ALTER TABLE [dbo].[Consuptions]  WITH CHECK ADD  CONSTRAINT [FK_DatesEventsConsuption] FOREIGN KEY([DatesEvent_IdDatesEvents])
REFERENCES [dbo].[DatesEvents] ([IdDatesEvents])
GO
ALTER TABLE [dbo].[Consuptions] CHECK CONSTRAINT [FK_DatesEventsConsuption]
GO
USE [master]
GO
